.room {
    padding: 1rem;
    display: flex;
    align-items: start;
    justify-content: center;
    font-weight: bold;
    font-size: 1.1rem;
    color: #333;
    border: 1px solid black
}

.assign_worker_button{
    margin-left: 240px;
    margin-top: -12px;
}