.room {
    padding: 1rem;
    display: flex;
    align-items: start;
    justify-content: center;
    font-weight: bold;
    font-size: 1.1rem;
    color: #333;
    border: 1px solid rgba(0, 0, 0, 0.2)
    
}